<div class="init_container">
    <booking-filter (filtersApply)="findBooking($event)"></booking-filter>
    @if (!isLoading) {
        @if (roomsFiltered().length !== 0) {
            <booking-list class="w-full" [roomsList]="roomsFiltered" (roomSelected)="registerBooking($event)"></booking-list>
        }@else {
            <p-card class="bg-red-100">
                <header class="m-4 font-medium text-xl text-center">
                    <i class="pi pi-exclamation-circle" style="font-size: 1.0rem; color: red"></i>
                    Lo sentimos, no encontramos resultados para tu búsqueda
                </header>
                <p class="mx-4 mb-2 font-normal line-height-2 ">
                    Parece que no hay habitaciones disponibles con los criterios que seleccionaste.
                </p>
                <p class="mx-4 mt-1 font-light line-height-2 ">
                    Intenta ajustar las fechas, la capacidad o las opciones de búsqueda y prueba de nuevo. ¡Seguro encontrarás la opción perfecta para tu estancia!
                </p>
            </p-card>
        }
    }@else{
        <p-card>
            <ul class="my-4 p-0 list-none">
                <li class="my-3">
                    <div class="flex">
                        <p-skeleton size="6rem" styleClass="mr-2" />
                        <div class="self-center" style="flex: 1">
                            <p-skeleton width="100%" styleClass="mb-2" />
                            <p-skeleton width="30%" styleClass="mb-2" />
                            <p-skeleton width="50%" styleClass="mb-2" />
                            <p-skeleton width="75%" />
                        </div>
                    </div>
                </li>
                <li class="my-3">
                    <div class="flex">
                        <p-skeleton size="6rem" styleClass="mr-2" />
                        <div class="self-center" style="flex: 1">
                            <p-skeleton width="100%" styleClass="mb-2" />
                            <p-skeleton width="30%" styleClass="mb-2" />
                            <p-skeleton width="50%" styleClass="mb-2" />
                            <p-skeleton width="75%" />
                        </div>
                    </div>
                </li>

                <li class="my-3">
                    <div class="flex">
                        <p-skeleton size="6rem" styleClass="mr-2" />
                        <div class="self-center" style="flex: 1">
                            <p-skeleton width="100%" styleClass="mb-2" />
                            <p-skeleton width="30%" styleClass="mb-2" />
                            <p-skeleton width="50%" styleClass="mb-2" />
                            <p-skeleton width="75%" />
                        </div>
                    </div>
                </li>
            </ul>
        </p-card>
    }
</div>
<p-toast position="top-center" />
