
<div class="grid align-items-center justify-content-center h-screen content-login">
    <div class="p-4 shadow-4 bg-white border-round-lg w-full lg:w-6">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">Travel Agency</div>
            <span class="text-600 font-medium line-height-3"> Hola de nuevo</span>
        </div>
    
        <div>
            <form  [formGroup]="loginForm" (ngSubmit)="logginUser()" class="flex flex-column align-items-center gap-3" >
                <p-inputgroup  class=" flex flex-row w-full">
                    <p-inputgroup-addon>
                        <i class="pi pi-user" size="large"></i>
                    </p-inputgroup-addon>
                    <p-floatlabel variant="on"  class="w-full">
                        <input
                            required="true"
                            fluid="true"
                            [class]="'w-full '+(loginForm.get('email')?.valid? 'ng-invalid ng-dirty':'')"
                            pInputText id="email" formControlName="email" />
                        <label for="email">email</label>
                    </p-floatlabel>
                </p-inputgroup>
        
                <div class="flex flex-row w-full">
                    <p-inputgroup-addon>
                        <i class="pi pi-lock"></i>
                    </p-inputgroup-addon>
                    <p-floatlabel variant="on" class="w-full">
                        <p-password
                            required="true"
                            fluid="true"
                            [toggleMask]="true"
                            [feedback]="false"
                            [class]="'w-full ' + (loginForm.get('password')?.valid? 'ng-invalid ng-dirty':'')"
                            inputId="password" formControlName="password" />
                        <label for="password">Contraseña</label>
                    </p-floatlabel>
                </div>
                <p-button  size="large" type="submit" label="Iniciar sesion" icon="pi pi-user" class="" [disabled]="!loginForm.valid" ></p-button>
            </form>
        </div>
    </div>
</div>
<p-toast />
